.task {
  border: 1px solid gray;
  padding: 10px;
  padding-right: 30px;
  border-radius: 10px;
  margin-bottom: -1px;
  position: relative;
}

.task-pin {
  display: block;
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
  opacity: 0.5;
  appearance: none;
}

.task-pin::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  right: -5px;
  top: -4px;
}

.task-pin:checked::after {
  content: 'V';
}